/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  html {
    font-size: 16px;
    font-family: sans-serif;
    scroll-behavior: smooth;
  }

  span {
    color: #4d7300;
    /* color: #F07223; */
    font-weight: bold;
    text-decoration: none;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  /* Header styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav li:not(:last-child) {
    margin-right: 1rem;
  }
  
  nav li a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  nav li a:hover {
    color: #0077c0;
  }
  
  .toggle-container {
    display: flex;
    align-items: center;
  }
  
  .toggle-input {
    display: none;
  }
  
  .toggle-label {
    color: #333;
    font-size: 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  
  .toggle-display {
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background-color: #333;
    position: relative;
  }
  
  .toggle-display::before {
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    transition: all 0.3s ease-in-out;
  }
  
  .toggle-input:checked + .toggle-label + .toggle-display::before {
    transform: translateX(1rem);
  }
  
  /* Main content styles */
  main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  section ul {
    list-style-type: none;
  }
  
  section ul li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  
  /* Footer styles */
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }
  

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .about-text {
    flex-basis: 50%;
    padding-right: 1rem;
  }
  
  .picture {
    flex-basis: 50%;
  }
  
  .picture img {
    max-width: 100%;
    border-radius:75%;
  }

  .picture img {
    max-width: 100%;
    border-radius: 75%;
    transition: all 0.3s ease-in-out;
  }
  
  .picture img:hover {
    flex-basis: 50%;
    transform: scale(1.008);
  }